*{
    margin: 0;
    padding: 0;
    font-family: "Poiret One", sans-serif;
    color: rgb(244, 195, 212);
}
a{
    text-decoration: none;
    color: rgb(244, 195, 212);
}
body{
    display: flex;
    flex-direction: column;
    background-color: rgb(74, 23, 41);
    width: 100vw;
    height: 100vh;
}
.cabecalho{
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border: 7px double rgb(227 131 162);
}
.bolinha{
    background-color: rgb(227 131 162);
    width: 18px;
    height: 18px;
    border-radius: 100%;
    margin-right: 10px;
}
.nome{
    height: 70px;
    width: 224px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.opcoes{
    height: 70px;
    width: 370px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
}
.traco{
    margin-right: 12px;
    font-size: 35px;
}
.geral{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center
}
.parte1{
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.parte2{
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
 .foto{
    width: 100%; 
    padding-top: 100%;
    position: relative;
    box-shadow: 3px 5px 20px 1px rgb(244 195 212);
} ; 

.inform{
    padding-left: 40px;
}
.barra{
    background-color: #70033679;
    width: 300px;
    height: 50px;
    border: 6px double rgb(227 131 162) ;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}
